.hero {
  background: url("../assets/images/backgroundhero.png") no-repeat center;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* position: inherit; */
  margin-top: -51px;
}

/* H1{
  font-size: 5rem !important;
  width: 35rem;
  color :white;
  padding-top : 10rem;
  margin-left: 10rem;
} */

body {
  background-color: black;
}
