/* .container-sub-hero{
    background-color: red;
    color: black;
    border-radius: 20px;
    width:50%;
    margin: 0 auto;
    margin-top: -70px;
    
} */

/* #subhero-bg::before {
  background: linear-gradient(red);
} */
